includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:
    paths:
        - app
    level: 2
    excludePaths:
        - 'app/Http/Middleware'
        - 'app/Http/Kernel.php'
        - 'app/Providers'
        - 'app/Console/Kernel.php'
        - 'app/Exceptions/Handler.php'
    noUnnecessaryCollectionCallExcept: ['pluck']
